* {
  box-sizing: border-box;
}

html, body {
  height: 100%; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 454px;
}

.newgame {
  display: inline-block;;
}

.score {
  display: inline-block;
  float: right;
  margin-right: 10px;
}

.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px 10px 0 0;
  text-align: center;
  line-height: 100px;
}

img {
  vertical-align: baseline;
}

.paired {
  border: 2px solid black;
}
