* {
  box-sizing: border-box;
}

html, body {
  height: 100%; }

body {
  font-family: 'Helvetica Neue';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-weight: lighter;
}

main {
  max-width: 90%;
}

h1 {
  font-weight: 100;
  font-size: 1.75em;
  margin: 0 0 0.3em 0;
}

.score {
  width: 23%;
  line-height: 23px;
  height: 18px;
  float: right;
  text-align: right;
  padding: 2px 2px 3px 0;
}

.message {
  line-height: 23px;
  height: 18px;
  padding: 2px 1em 3px 2px;
  float: left;
  width: 77%;
  text-align: left;
}

.cards {
  padding-top: 0.3em;
  display: flex;
  clear: both;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card, .paired {
  width: calc(100%/4);
  height: 23%;
  text-align: center;
  border: 0.2em solid white;
}

.cards.hard > .card, .cards.hard > .paired {
  width: calc(100%/6);
}

.paired {
  opacity: 0.8;
  transition: opacity 0.8s;
}

.replay {
  margin-top: 10px;
  float: left;
  width: 50%;
  padding: 0 2px;
}

.replay button {
  width: 100%;
}

@media screen and (min-width: 500px) {
  main {
    max-width: 27em;
  }

  h1 {
    font-size: 3em;
  }
}

@media screen and (min-width: 800px) {
  main {
    max-width: 30em;
  }
}
